@charset "UTF-8";

html{
    font-size:100%;
}


body{
    background-color: burlywood;
    border: 1px solid;
    margin: 0 auto;
}

ul{
    padding-left: 0px;
}

li{
    list-style: none;
}
header{
    border: 1px solid;
}


main{
    border: 1px solid;
}

footer{
    border: 1px solid;

}

a{
    text-decoration:none;
}

img{
    max-width: 100%;
}


.wrapper{
    max-width: 1300px;
    margin:0 auto;
    border: 1px solid;

}


.header-body{
    display: flex;
}
.center-title{
    flex:1;
    text-align: center;
}

.center-title h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.center-title p{
    margin-top: 0px;
    padding-top: 0px;
}

.left-nav{
    width:300px;
}

.right-nav{
    width:300px;
    text-align: right;
    
}

.photo-back{
    border: 1px solid;
}
.photo-back img{
width: 100%;
}



.heading{
    padding-top: 10px;
}

.contents-back{
    background: #E1F6F7;    
    text-align:center;
}


.contents-grid{
    display: grid;
    gap:26px;
    text-align: center;
    grid-template-columns: repeat(3, minmax(100px,1fr));
}
.contents-grid h3{
    font-size: 1.5rem;
}
.contents-grid p{
    line-height: 5px;
}


.how-to-use-back{
    text-align:center;
    background: #EAF3C2;

}

.how-to-use-grid{
    display: grid;
    gap:26px;
    text-align: left;
    grid-template-columns: repeat(3, minmax(100px,1fr));
}
.use-step{
    display: flex;
    flex-direction: column;
}
.use-step p{
flex:1;
}
.how-to-use-grid h3{
    font-size: 1.5rem;
    margin-left: 10px;
}

.how-to-use-grid p{
    line-height: 5px;
    margin-left: 20px;
    margin:10px auto;
}



.button-back{
    text-align: center;
    margin: 30px auto;
}
.button{
    text-align:center;
    font-size:1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover{
    background: #0090aa;
}


.upper-footer{
    background: #F9DDD9;
    text-align:center;
}
.bottom-footer{
    background: #FF657A;
    text-align: center;
}
.footer-nav-box{
    border: 1px solid;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.footer-nav ul{
    text-align: center;
    display: flex;
}
.footer-nav li{
    margin:0 auto;
}



/* 


body{
    font-family: "Yu-Gothic Medium","游ゴシック Medium","YuGothic","游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
    color: #432;
}

a{
    text-decoration:none;
}

img{
    max-width: 100%;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1300px;
    margin:0 auto;
    padding: 0 4%; 
    max-width: 1300px;
}

.left-nav{
    list-style-type: none;
}
.right-nav{
    list-style-type: none;
    text-align: right;
}

.center-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.center-title h1{
    color: #434242;
    font-size: 2rem;
    margin-bottom: 0px;
}
.center-title p{
    color: #434242;
    font-size: 1.0rem;
    margin-top: 0px;
    padding-bottom: 0px;
}
.big-photo{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.big-photo img{
    object-fit: cover;
}

.heading{
    text-align: center;
}
.heading h2{
    color: chocolate;
    font-size: 2rem;
    padding-bottom: -20px;
    margin-bottom: 0.5em;
}

.heading p{
    color: chocolate;
    padding-top: 0px;
margin-top: 0px;
}


.contents{
    padding-bottom: 2px;
    background-color: #E1F6F7;
    background-size: cover;    
}
.how-to-use{
    position: center;
    background-color: #EAF3C2;

}


.contents-grid{
    display: grid;
    gap:26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0%;
    margin-bottom: 50px;
    text-align: center;
}
.contents-grid h3{
    font-size: 1.5rem;
}
.contents-grid p{
    line-height: 5px;
}
.use-grid{
    display: grid;
    gap:26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0%;
    margin-bottom: 50px;
}
.use-grid h3{
    margin-left: 10px;
    font-size: 1.5rem;
}
.use-grid p{
    margin-left: 20px;
    line-height: 5px;
}

.button{
    text-align:center;
    font-size:1.375rem;
    background: #0bd;
    color: #fff;
    border-radius: 5px;
    padding: 18px 32px;
}

.button:hover{
    background: #0090aa;
}




.upfoot{
    background: #F9DDD9;
    padding: 26px 0;
    text-align:center;
    margin-top: 34px; 
}

.upfoot-grid{
    display: grid;
    gap:26px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.downfoot{
    background: #FF657A;
    text-align: center;
    padding: 26px 0;
}
.upfoot h2{
    color:#fff;
    font-size: 0.875rem;
}

footer p{
    color:#fff;
    font-size: 0.875rem;
}
 */
